header {
    justify-items: right
}

.header-color {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: right

}

/* .header-color Link {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
} */

.header-color a {
        float: right;
        color: #f2f2f2;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
}

.material-icons {
    color: red
}

.mdl-layout__drawer.is-visible {
    background: aqua;
    color: red
}
/* .mdl-layout__drawer.a {
    color: red;
    background: green
}

a.mdl-navigation__link{
    float: right;
    color: green;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
} */


.landing-grid {
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #000046, #1CB5E0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000046, #1CB5E0 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float: right;

text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%
}

.avatar-img {
    height: 250px;
    padding-top: 5em;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
border-top: 5px dotted white;
width: 50%;
margin: auto
}

.banner-text p {
color: white;
font-size: 18px;
padding: 1em
}

.social-links {
display: flex;
justify-content: space-between;
width: 50%;
margin: auto;
}
.social-links i {
color: white;
font-size: 3em;
padding: -8px 8px 16px 8px;
}

.projects-grid {
    display: flex
}

/* contact css */

.contact-body {
    margin: auto;
    background: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;

    /* border: red solid 1px */

}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

.contact-grid p {
    font-weight: bold;
}

.contact-grid hr {
    border-top: 3px dotted #000;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 40px;
    padding-right: 5rem;
}



/* contact css */
